# OS Files
Thumbs.db
.DS_Store

# node.js
node_modules
uploads
db
*-lock.json

# environment variables holding sensitive info (like DB credentials)
.env
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
